@import "tailwindcss";
/* /src/index.css or global.css */
input[type="number"].no-spinner::-webkit-inner-spin-button,
input[type="number"].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].no-spinner {
  -moz-appearance: textfield; /* Firefox */
}
body {
  @apply font-sans text-gray-800;
}
[contenteditable] h1 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700;
}

[contenteditable] h2 {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600;
}

[contenteditable] h3 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 500;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

[contenteditable] h4 {
  font-size: 1.125rem; /* text-lg */
  font-weight: 500;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

[contenteditable] h5 {
  font-size: 1rem; /* text-base */
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

[contenteditable] h6 {
  font-size: 0.875rem; /* text-sm */
  font-weight: 600;
  color: rgb(75 85 99); /* text-gray-600 */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

[contenteditable] p {
  font-size: 1rem; /* text-base */
  line-height: 1.5rem; /* leading-relaxed */
  margin-bottom: 0.75rem;
}
[contenteditable] ul,
[contenteditable] ol {
  list-style-position: inside;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

[contenteditable] ul {
  list-style-type: disc;
}

[contenteditable] ol[type="1"] {
  list-style-type: decimal;
}

[contenteditable] ol[type="a"] {
  list-style-type: lower-alpha;
}

[contenteditable] li {
  margin-bottom: 0.25rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 150ms ease-out forwards;
}

/* In your CSS or Tailwind */
.drag-over {
  @apply border-blue-500 border-2;
}
@keyframes customPulse {
  0%,
  100% {
    background-color: rgba(8, 145, 178, 0.1); /* cyan-600/10 */
    border-color: rgba(34, 211, 238, 0.6); /* cyan-400 */
  }
  50% {
    background-color: rgba(8, 145, 178, 0.2); /* a bit brighter */
    border-color: rgba(34, 211, 238, 1); /* brighter cyan */
  }
}

.custom-pulse {
  animation: customPulse 1.2s ease-in-out infinite;
}

.column-block {
  /* flex-shrink: 0; */
  transition: width 0.01s ease-out;
}

.underline {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}
.bg-yellow-200 {
  background-color: #fefcbf;
}
.font-bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
